# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly

      - name: Build API Reference
        run: cargo doc --no-deps --features complex,altrep
        env:
          RUSTDOCFLAGS: "--enable-index-page -Zunstable-options"

      - name: Install latest mdbook
        run: |
          tag=$(curl 'https://api.github.com/repos/rust-lang/mdbook/releases/latest' | jq -r '.tag_name')
          url="https://github.com/rust-lang/mdbook/releases/download/${tag}/mdbook-${tag}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir bin
          curl -sSL $url | tar -xz --directory=bin
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Build user guide
        run: |
          cd book
          mdbook build

      - name: Tweak
        run: |
          # As of v1.0.9, upload-pages-artifact action rejects files with incorrect permissions.
          # In Rust doc's case, .lock is such a file.
          #
          # cf. https://github.com/actions/deploy-pages/issues/188#issuecomment-1597651901
          rm -f ./target/doc/.lock

          mkdir _docs
          mv ./book/book ./_docs/guide
          mv ./target/doc ./_docs/reference

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./_docs/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
