# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: "${{ matrix.config.os }} (R: ${{ matrix.config.r }}, rust: ${{ matrix.config.rust }})"

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release', rust: 'stable'}
          - {os: windows-latest, r: 'release', rust: 'stable'}
          - {os: ubuntu-latest,  r: 'release', rust: 'stable'}
          - {os: ubuntu-latest,  r: 'devel',   rust: 'stable', http-user-agent: 'release'}
          - {os: ubuntu-latest,  r: 'release', rust: 'nightly'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@nightly
        if: matrix.config.rust == 'nightly'

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Run cagro test
        run: |
          cargo test --manifest-path=./savvy-macro/Cargo.toml
          cargo test --manifest-path=./savvy-bindgen/Cargo.toml

      - name: Tweak
        run: |
          # macOS's sed treats -i option differently, so we cannot use it here...
          sed '/^savvy/s|".*"|"./savvy"|' ./R-package/src/rust/Cargo.toml > Cargo.toml_tmp
          cat > Cargo.toml_tmp <<EOF
          members = ["savvy", "savvy-macro", "savvy-bindgen"]

          [workspace.package]
          version = "0.1.0"
          edition = "2021"
          authors = ["Hiroaki Yutani"]
          license = "MIT"
          homepage = "https://github.com/yutannihilation/savvy/"
          documentation = "https://github.com/yutannihilation/savvy/"
          EOF
          
          mv Cargo.toml_tmp ./R-package/src/rust/Cargo.toml

          mv savvy/ ./R-package/src/rust/
          mv savvy-macro/ ./R-package/src/rust/
          mv savvy-bindgen/ ./R-package/src/rust/
        shell: bash

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          working-directory: R-package

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          working-directory: R-package
